#navigation
{
    height: 100px;
    width: 100%;
    background-color: brown;
}
#logo
{
    height: 70px;
    width: 70px;
    float: left;
    margin : 15px;
    background-image: url(/L6/icons8-mixer-logo-64.png);
    background-size: contain;
}
.marked
{
    color: yellow;
}